.contentChannelName{
  display: flex;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  margin-left: 1rem;
}

.contentHeaderName a{
  text-decoration: none;
}

.contentHeaderName svg{
  height: 0.6rem;
}