/* TODO: Component CSS Style goes here */
.content {
  grid-column: 1 / -1;
  height: 100vh;
  border-right: 0.1rem solid var(--slack-white);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 3rem 1fr 10rem;
  grid-template-areas:
    'header'
    'bookmark'
    'main'
    'footer';
}
