html {
 line-height: 1;
  position: relative;
  height: 100%;
  font-size: 1rem;
  font-family: Lato, sans-serif;
  --slack-blue: #376cdf;
  --slack-dark-blue: darkblue;
  --slack-cyan: #6ecadc;
  --slack-green: #3eb991;
  --slack-red: #e01563;
  --slack-yellow: #e9a820;
  --slack-tag-background: #f8f8f8;
  --slack-tag-border-color: rgba(97, 96, 97, 1);
  --slack-tag-forecolor: rgba(134, 134, 134, 1);
  --slack-search-background: #073642;
  --slack-background: #350d36;
  --slack-input-border-color: rgba(29, 28, 29, 0.5);
  --dark-grey: #9e9a9a;
  --slack-other-bckground: #3f0e40;
  --slack-white: #cfc3cf;
  --slack-border-color: rgb(82, 38, 83);
  --slack-main-white: #ffffff;
  --light-gray: #f1f3f5;
}

body {
    margin: 0;
    font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    width: 100%;
    text-align: justify;
    overflow: hidden;
  }


  blockquote {
    quotes: none;
  }
  blockquote:before {
    content: "";
    content: none;
  }
  blockquote:after {
    content: "";
    content: none;
  }
  
  a img {
    border: none;
  }
  
  q {
    quotes: none;
  }
  q:before {
    content: "";
    content: none;
  }
  q:after {
    content: "";
    content: none;
  }
  
  ol {
    list-style: none;
  }
  
  ul {
    list-style: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  article {
    display: block;
  }
  
  aside {
    display: block;
  }
  
  details {
    display: block;
  }
  
  figure {
    display: block;
  }
  
  figcaption {
    display: block;
  }
  
  footer {
    display: block;
  }
  
  header {
    display: block;
  }
  
  hgroup {
    display: block;
  }
  
  menu {
    display: block;
  }
  
  nav {
    display: block;
  }
  
  section {
    display: block;
  }
  
  summary {
    display: block;
  }
  
  main {
    display: block;
  }

  
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
  }
  
  body::-webkit-scrollbar {
    width: 0.125rem !important;
  }
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  body::-webkit-scrollbar-thumb {
    background-color: darkgray;
    outline: 1px solid slategray;
  }
  .fa-rotate-315 {
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
  }
