.heading {
  color: #616061;
}

.textField {
  font-size: 18px;
  line-height: 1.33334;
  font-weight: 400;
  width: 100%;
}

.label {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.46668;
  color: #1d1c1d;
}

.formContainer {
  margin-bottom: 1rem;
}