.sidebarOne {
    grid-column: 1 / -1;
    overflow: auto;
}

.sidebarOne section:not(:last-of-type) {
    border-bottom: 0.1rem solid var(--slack-border-color);
}

.sidebarUser {
    color: var(--slack-main-white);
    position: relative;
}

.sidebarUserInfo {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.sidebarUserInfo h4{
    font-size: 1rem;
    margin-right: 0.5rem;
    font-size: 0.8rem;
    margin-right: 0.8rem;
    margin-left: 0.8rem;
}

.sidebarUserInfoAdditional{
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    color: var(--slack-white);
}

.sidebarUserInfoAdditional svg {
    color: var(--slack-green);
    font-size: 0.5rem;
    padding-right: 0.3rem;
}

.sidebarUserEditIcon{
    position: absolute;
    top: 0.4rem;
    right: 0.8rem;
    width: 2rem;
    height: 2rem;
    border: 0.1rem solid var(--slack-main-white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--slack-main-white);
}

.sidebarUserEditIcon svg {
    color: var(--slack-other-bckground);
} 

.sidebarChannel {
    margin-left: 0.5rem;
}