
  /* TODO: Component CSS Style goes here */
 
.navSearchBar {
  display: flex;
  align-items: center;
  position: relative;
}

.searchBarInput {
  width: 40.25rem;
  height: 1.5rem;
  border: 0.1rem solid var(--slack-border-color);
  border-radius: 0.375rem;
  background-color: rgb(67, 30, 68);
  padding-left: 1rem;
  box-shadow: inset 0 0 0 1px rgb(104, 74, 104);
  transition: all 0.5s ease-out;
}
.searchBarInput:focus {
  background-color: var(--slack-background);
  color: var(--slack-white);
}
.searchBarInput::placeholder {
  color: var(--slack-white);
}
.search-bar i {
  position: absolute;
  font-size: 0.7rem;
  left: 5rem;
  color: var(--slack-white);
}

.navSearchBar svg{
  position: absolute;
  font-size: 0.7rem;
  left: 97%;
  color: var(--slack-white);
}