.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2.375rem 1fr;
}

.contentArea {
  grid-row: 2 / -1;
  display: grid;
  grid-template-columns: 16.25rem 2fr;
  overflow: hidden;
}

.body {
  grid-column: 2 / -1;
    background-color: var(--slack-main-white);
    border-right: 0.1rem solid rgba(29, 28, 29, 0.13);
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}